---
layout: default
---
{% for post in site.posts %}

  {%  if post.draft != true %}
  <section class="post">
    <header class="entry-header">
      <img class="entry-avatar" alt="Paul Laros" height="52" width="52" src="{{ site.gravatar_url }}">
      <h2 class="entry-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        <p class="entry-meta">
          Posted on <a class="entry-date" href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}</a> | By <a class="entry-author" href="http://new.marceloboeira.com">{{ site.author }}</a>
        </p>
    </header>
    <div class="entry-description">
	  	{{ post.description }}
	 </div>
  </section>      
  {% endif %}
{% endfor %}