<div class="socials-footer">
  <a class="btn btn-facebook" href="http://fb.me/{{site.facebook_username}}" title="Facebook">
    <i class="fa fa-facebook"></i>
  </a>
  <a class="btn btn-twitter" href="http://twitter.com/{{site.twitter_username}}" title="Twitter">
    <i class="fa fa-twitter"></i>
  </a>
  <a class="btn btn-linkedin" href="http://br.linkedin.com/in/{{site.linkedin_username}}" title="LinkedIn">
    <i class="fa fa-linkedin"></i>
  </a>
  <a class="btn btn-instagram" href="http://instagram.com/{{site.instagram_username}}" title="Instagram">
    <i class="fa fa-instagram"></i>
  </a>
  <a class="btn btn-github" href="http://github.com/{{site.github_username}}" title="GitHub">
    <i class="fa fa-github"></i>
  </a>
  <a class="btn btn-bitbucket" href="http://bitbucket.com/{{site.bitbucket_username}}" title="Bitbucket">
    <i class="fa fa-bitbucket"></i>
  </a>
</div> 