<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
  {% include header.html %}
  <div id="primary" class="col-sm-12">
    <div class="content">
      <header class="header">
        <hgroup class="pull-left">
          <h1 class="site-title">
            <a rel="home" title="Marcelo Boeira" href="/">
             <i class="fa fa-code"></i> {{site.title}} <small style="zoom: .8"> {{ site.version }}</small>
            </a>
         </h1>
        </hgroup>
        <div id="togglesidebar" class="btn btn-primary pull-right">
         <i class="fa fa-bars"></i>
        </div>
      </header>
      {{ content }}
    </div>
  </div>
  {% include footer.html %}
  </body>
</html>